<div class="navbar navbar-inverse navbar-fixed-bottom hidden-xs">
    <div class="container-fluid">
        <a class="navbar-text navbar-left" href="@Url.Action("Index", "Home")">
            &copy; @DateTime.Now.Year 
        </a>
    </div>
</div>
